{% extends 'base.html' %}
{% block container %}
<main class="container mt-3 mb-5">

    <section class="mx-auto pt-5 pb-3" style="width: 60%;">
        <div class="card pr-4">
            <form action="/registration/" method="POST">
                <div class="row">
                    <div class="col-6">
                        <img src="../static/sing-up.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 py-4 px-2">
                        {% for field in form.errors %}
                        {% for error in form.errors[field] %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {{ form.csrf_token }}
                        <p class="h5 my-3"><b>Вход/Регистрация</b></p>
                        <div class="form-group">
                            <label for="username" class="text-muted">Имя</label>
                            {{ form.username() }}
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-muted">E-mail</label>
                            {{ form.email() }}
                        </div>
                        <div class="form-group">
                            <label for="pass" class="text-muted">Пароль</label>
                            {{ form.password() }}
                        </div>
                        <div class="form-group pt-2">
                            <input type="submit" class="btn btn-dark" value="Отправить">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

</main>
{% endblock %}